<ion-header tappable>
  <ion-toolbar>
    <!-- <ion-title color="primary">Login</ion-title> -->
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon color="primary" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content>
  <div class="main_container">
    <div class="title_container">
      <div class="image_container">
        <img src="assets/images/verification.png" />
      </div>
      <div class="title">
        <h1 style="margin-top: 20px;"> Verification Code</h1>


        <h3 style="margin-top: 25px;"> Enter the verification code sent to </h3>

        <p style="margin-top: 20px; font-weight: 100; font-size: 18px; color: gray;"> 9426473644 </p>
      </div>
      <ion-grid>
        <ion-row class="OTP-border">

          <ion-col>
            <div style="border-bottom: 1px solid;">
              <ion-input  type="tel"  maxlength="1" class="otpinput" padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div style="border-bottom: 1px solid;">
              <ion-input  type="tel"  maxlength="1" class="otpinput" padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div style="border-bottom: 1px solid;">
              <ion-input  type="tel" maxlength="1" class="otpinput" padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div style="border-bottom: 1px solid;">
              <ion-input type="tel"  maxlength="1" class="otpinput" padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <!-- <ion-col>
            <div>
              <ion-input name="5"  type="tel" [(ngModel)]="OTP[4]" maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="6"  type="tel" [(ngModel)]="OTP[5]" maxlength="6" class="otpinput"
                padding-horizontal>
              </ion-input>
            </div>
          </ion-col> -->
        </ion-row>
      </ion-grid>

      <div style="margin: 25px; text-align: center; margin-top: 20px;">
        <ion-label>
          I didn’t recieve a code. <ion-label color="secondary"><span>Resend</span></ion-label>
        </ion-label>
      </div>
      <div style="margin-top: 20px; padding: 20px;">
        <ion-button expand="block" (click)="Verify()">Verify</ion-button>

      </div>

    </div>


  </div>

</ion-content>