<ion-content>
  <div class="main_container">
    <div class="title_container">
      <div class="image_container">
        <img src="assets/images/gauri-logo.png">

        <div class="title">

          <div>
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="assets/avatar.png">
              </ion-avatar>
              <ion-label>Create new account</ion-label>
            </ion-item>
          </div>

          <div>
            <div class="divInput">
              <ion-item lines="none">
                <ion-label position="stacked">Full Name</ion-label>
                <ion-input type="email" autocomplete="off" color="dark" clearInput></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-label position="stacked">Phone Number</ion-label>
                <ion-input type="password" autocomplete="off" color="dark" clearInput></ion-input>
              </ion-item>

            </div>
          </div>


          <div class="btn">
            <ion-button expand="block">Sign up</ion-button>

            <ion-grid>
              <ion-row >
                <ion-col style="text-align: center;">
                  <ion-label color="dark">
                    Already have an account ? <ion-label color="secondary">Log in</ion-label>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid>
              <ion-row>
                <ion-col style="text-align: center;">
                  <ion-label color="dark">
                    Or
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-button expand="block" size="large" style="--background: #e2e2e2;">
              <ion-img  src="https://img.icons8.com/office/16/000000/google-logo.png" style="margin-right: 10px;"></ion-img>
              
              <ion-label color="dark">Sign Up with Facebook</ion-label>
            </ion-button>

            <ion-button expand="block" size="large" style="--background: #e2e2e2;">
              <ion-icon style="background: #3b5998" slot="start" name="logo-facebook"></ion-icon>
              <ion-label color="dark">Sign Up with Facebook</ion-label>
            </ion-button>
          </div>

        </div>


      </div>

    </div>

  </div>
</ion-content>